body {
  padding: 0;
  margin: 0;
  background: #f8f9fa;
  color: #333;
  font-family:sans-serif;
}

header{
  height: 100px;
}

/* Navbar */
.navbar {
  background: #8B0000;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.navbar img {
    height: 50px;
}

.logo {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a:hover{
    text-decoration: underline;
}

.profile {
    font-size: 1.4em;
    display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-right: 150px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
/*Dropdown menu*/
.dropdown {
  position: relative;
  list-style: none;
  padding-right: 100px
}

.drop-btn {
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.drop-btn:hover {
  text-decoration: underline;
}

#menu-toggle {
  display: none;
  
}

.dropdown-content {
  position: absolute;
  top: 35px;
  left: -75px;
  background: white;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  justify-content: center;
}

#menu-toggle:checked ~ .dropdown-content {
  max-height: 300px;
}

.dropdown-content li a {
  display: block;
  color: #8B0000;
  padding: 10px 15px;
  text-decoration: none;
}

.dropdown-content li :hover {
  background: #8B0000;
  color: white;
}

/* Hero Section */
.hero {
  padding-top: 60px;
  background: #b30000;
  color: white;
  justify-self: center;
  height: 350px;
  width: 900px;
  border-radius: 3%;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-text .button {
  background: white;
  color: #b30000;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.hero-text .button:hover {
  background: #f0f0f0;
}

.hero-img img {
  width: 250px;
}

/* Konten utama */
.content {
  display: flex;
  margin-top: 40px;
}

/* Daftar pertanyaan homepage*/


.questions {
  width: 800px;
}
.questions h3 {
    text-align: center;
    padding-bottom: 25px;
}

.question-card {
  background: white;
  justify-self: center;
  padding: 15px;
  width: 700px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.question-card h4 {
  color: #8B0000;
  margin-bottom: 10px;
}

.question-card span {
  font-size: 0.85em;
  color: gray;
}

/* Tag Populer */

.kategori {
  margin-top: 45px;
  background: white;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: fit-content;
  width: 300px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tags span {
  background: #f3f3f3;
  color: #8B0000;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
}

/* Footer */
footer {
  background: #8B0000;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 0.9em;
}

/*Page Komunitas*/
/* Hero Komunitas */

.container-komunitas {
  background: #b30000;
  color: white;
  justify-self: center;
  height: 200px;
  width: 900px;
  border-radius: 3%;
}

.hero-komunitas {
  justify-content: center;
  text-align: center;
  padding-top: 70px;
}
